p {

  text-align: justify;

}

body {

background: url(../static/img/texture.png);
background-position: left top;
background-repeat: repeat;

}

.row {

background-color: #f8f9fa;

}

.bg-text {

    color:grey;
    font-size:100px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: left;
}

.bg-text-2 {

    color:grey;
    font-size:100px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.short-input {

  width: 100%;

}

.large-input {

  min-height: 200px;
  width: 100%;

}

.navbar {

  position: fixed;

}

h1 {
  margin-left: .75em;
}
