  {% extends "base.html" %}

  {% block content %}
  <!-- Page Content -->

      <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">About the Game</h1>

        <!-- Content One -->
        <div class="row">
          <div class="col-md-7">
              <marquee behavior="slide" direction="left">
                <img src="../static/img/hacker.svg" height="300" alt="old_tag_not_supported">
                <img src="../static/img/hunter.svg" height="300" alt="old_tag_not_supported">
                <img src="../static/img/athlete.svg" height="300" alt="old_tag_not_supported">
                <img src="../static/img/scientist.svg" height="300" alt="old_tag_not_supported">
                <img src="../static/img/inspector.svg" height="300" alt="old_tag_not_supported">
                <img src="../static/img/teacher.svg" height="300" alt="old_tag_not_supported">
              </marquee>
          </div>
          <div class="col-md-5">
            <h3>Gun on the Mantle</h3>
            <p><em>Human greed is fueled by fear</em></p>
            <p>You robbed a bank with several strangers from different professions, and you have all met up at the designated cabin hideout with the stash waiting. There's just one problem: <em>the gun on the mantle.</em> Up to twelve will enter, but only one will leave with the whole haul. Lie, cheat, and steal to eliminate others and leave with everything.</p>
            <br />
            <p>For 4-12 players, 6 recommended</p>
            <p>Ages: 10+</p>
            <p><strong>Game Designed by Kevin Dublin</strong></p>
            <p>Character icons made by <a href="http://www.freepik.com/">Freepik</a> at www.flaticon.com</p>
            <a class="btn btn-primary" href="contact.html">Contact Creator</a>
            <br />
          </div>
        </div>
      <!-- /.row -->

        <hr>
        {% endblock content %}
