<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- meta info -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta character="utf-8">
<title>Gun on the Mantle</title>
<link rel="icon" href= "static/img/gun.svg">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="../static/navbar-top-fixed.css" rel="stylesheet">
<!-- my styles -->
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="about">
      <img src="../static/img/gun.svg" width="30" height="30" class="d-inline-block align-top" alt="bang">
      Gun on the Mantle
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block nav_about_class %}{% endblock nav_about_class %}">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item {% block nav_rules_class %}{% endblock nav_rules_class %}">
          <a class="nav-link" href="rules">Rules</a>
        </li>
        <li class="nav-item {% block nav_play_class %}{% endblock nav_play_class %}">
          <a class="nav-link" href="play">Play</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->

      <div class="container">

        <!-- Content -->
{% block content %}
{% endblock content %}

      <!-- /.row -->

        <hr>

      </div>
    <!-- /.container -->
    </body>
  </html>
