{% extends "base.html" %}


      <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Character Cards</h1>

        <!-- Content One -->
        {% for character in character_cards %}
          <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" height='100%' src="{{ img_src }}" alt="">
              </a>
            </div>
            <div class="col-md-5">
              <h3>{{ card_title }}</h3>
              <p>{{ skill_one }}</p>
              <p>{{ skill_two }}</p>
              <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
            </div>
          </div>
        <!-- /.row -->

          <hr>
        {% endfor %}
      </div>
    <!-- /.container -->
    {% endblock content %}
