{% extends "base.html" %}

{% block content %}
      <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Example Endgame</h1>

        <!-- Content One -->
          <div class="row">
            <div class="col-md-5">
                <h3>After several rounds in...</h3>
                <ul class="endgame-list">
                    <li>Diego | (10) Coins (Hunter)</li>
                    <li>Elle | (10) Coins (Athlete)</li>
                    <li>Faye | (9) Coins (Inspector)</li>
                    <li>Gene | (4) Coins (Hacker)
                    </li>
                </ul>
                <ol>
                    <li><strong>Round 7, Turn 1</strong><br>
                        Diego has (10) coins and must take the gun from the mantle. He eliminates Faye. Faye's (9) coins are divided evenly amongst remaining players.<br>
                    </li>
                    <li><strong>Round 7, Turn 2</strong><br> 
                        Elle has (10+) coins and must take the gun from the mantle. She eliminates Gene. Gene's (7) coins are divided with (4) going to her and (3) to Diego.<br>
                    </li>
                    <li><strong>Round 8, Turn 1</strong><br>
                        Diego takes (1) coin to reach (7).<br>
                    </li>
                    <li><strong>Round 8, Turn 2</strong><br>
                        Elle claims Athlete to take (3) coins with competition and reach (10).<br>
                    </li>
                    <li><strong>Round 9, Turn 1</strong><br>
                        Diego targets Elle. Elle challenges Diego! Diego reveals the Hunter and wins.<br>
                    </li>
                </ol>    
            </div>
            <div class="col-md-7">
              <h3>Example Endgame</h3>
              <!-- Carousel -->
              <div id="challengeCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#challengeCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#challengeCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#challengeCarousel" data-slide-to="2" class=""></li>
                  <li data-target="#challengeCarousel" data-slide-to="3" class=""></li>
                  <li data-target="#challengeCarousel" data-slide-to="4" class=""></li>
                  <li data-target="#challengeCarousel" data-slide-to="5" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                  <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    <div class="container">

                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#challengeCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#challengeCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
              <br /><br />
              <br />
            </div>
          </div>
        <!-- /.row -->
      </div>
    <!-- /.container -->
    {% endblock content %}
