{% extends "base.html" %}

  {% block content %}
      <div class="container">

        <!-- Page Heading -->
        <h1>Gameplay Details</h1>

        <!-- Content One -->
        <div class="row">
          <div class="col-md-1">
            </div>
          <div class="col-md-4">
              <img class="img-fluid rounded mb-3 mb-md-0" src="../static/img/gameplay_overview.svg" alt="">
          </div>
          <div class="col-md-7">
            <h3>Overview</h3>
            <p>Turns go around the table clockwise, beginning with the final player eliminated from the last game. If this is your first game, the oldest, gruffest player begins.</p>
            <p>Each turn has four possible actions:</p>
            <p><ul>
              <li>Take a coin</li>
              <li>Exchange a card</li>
              <li>Use a skill from a card</li>
              <li>Take the gun from the mantle</li>
            </ul></p>
            <p><strong>Special Exception</strong></p>
            <p><em>Audible/Fair Exchange:</em> A player cannot use the same skill card (3) turns in a row. At the beginning of the third turn, the player is forced to exchange on the third turn before their turn begins, then proceed with play normally.</p>
            <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
            <br /><br />
          </div>
        </div>
      <!-- /.row -->

      <hr>

      <!-- Content Two -->
      <div class="row">
        <div class="col-md-1">
          </div>
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../static/img/take_coin.svg" alt="">
        </div>
        <div class="col-md-7">
          <h3>Take a Coin</h3>
          <p>Take a coin: Take (1) coin from the stash. This cannot be countered or stopped.</p>
          <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
        </div>
      </div>
    <!-- /.row -->

      <hr>

    <!-- Content Three -->
    <div class="row">
      <div class="col-md-1">
        </div>
      <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../static/img/exchange_card.svg" alt="">
      </div>
      <div class="col-md-7">
        <h3>Exchange a Card</h3>
        <p>Pass your face-down card clockwise. The player who receives the card does not look, but chooses to either keep the discarded card and place their own at the bottom of the deck or pass the discarded card to the next player on their left. If each player passes the card, it returns to the bottom of the deck. The player who initiated the trade is allowed to draw a new card.</p>
        <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
      </div>
    </div>
  <!-- /.row -->

      <hr>

  <!-- Content Four -->
  <div class="row">
    <div class="col-md-1">
      </div>
    <div class="col-md-4">
        <img class="img-fluid rounded mb-3 mb-md-0" src="../static/img/claim_action.svg" alt="">
    </div>
    <div class="col-md-7">
      <h3>Use a Card Skill</h3>
      <p>Whether you have the specific card or not, you may claim to have the card and use its abilities. The effect will take place, unless a counter skill stops it or the action is challenged.</p>
      <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
    </div>
  </div>
<!-- /.row -->

        <hr>

        <!-- Content Five -->
        <div class="row">
          <div class="col-md-1">
            </div>
          <div class="col-md-4">
              <img class="img-fluid rounded mb-3 mb-md-0" src="../static/img/gun.svg" alt="">
          </div>
          <div class="col-md-7">
            <h3>Take the Gun from the Mantle: </h3>
            <p>If a player begins a turn with (10) Coins, they must take the gun from the mantle and use it.</p>
            <p>The gun eliminates another player. When a player is eliminated, their coins are evenly divided amongst the remaining players with any uneven remainder going to the killer.</p>
            <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
          </div>
        </div>
      <!-- /.row -->

      {% endblock content %}
