{% extends "base.html" %}

      <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Play the Game</h1>

        <!-- Content Zero -->
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <h3>Play on Your Phone</h3>
            <p>Sustainable press & play! Instead of printing out onto paper, you can actually play this game with your friends in-person using all of your phones. Gameplay is completely the same as the standard version except it requires you and your friends to be logged into the same room on the Gun on the Mantle website. This hybrid web app version of the game is a way to play without making an imprint on the environment.</p>
            <p>Please complete the survery after playing here: </p>
            <a class="btn btn-primary" href="#">Login for Digital Play</a>
          </div>
        </div>
      <!-- /.row -->

        <hr>

        <!-- Content One -->
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <h3>Print & Play Bundle</h3>
            <p>Download the demo print & play bundle with character cards featuring demo artwork and design, a rulesheet, readme file with survey questions to complete afterwards, and printable quick reference cards in a .ZIP file.</p>
            <p>Please complete the survery after playing here: </p>
            <a class="btn btn-primary" href="../static/downloads/gun_on_the_mantle.zip">Download Bundle</a>
          </div>
        </div>
      <!-- /.row -->

        <hr>

        <!-- Content Two -->
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <h3>Character Cards</h3>
            <p>Download the demo print & play character cards featuring demo artwork and design on 11 in x 8.5 in letter sized sheets. Print sheets single-sided.</p>
            <a class="btn btn-primary" href="../static/downloads/playingcards.pdf">Download Character Cards</a>
          </div>
        </div>
      <!-- /.row -->

        <hr>

        <!-- Content Three -->
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <h3>Quick Reference Cards</h3>
            <p>Download the demo print & play quick reference cards for use while playing on an 11 in x 8.5 in letter sized sheet. Print double-sided on one page.</p>
            <a class="btn btn-primary" href="../static/downloads/quickref.pdf">Download Quick Reference Cards</a>
          </div>
        </div>
      <!-- /.row -->

      <hr>

      <!-- Content Four -->
      <div class="row">
        <div class="col-md-5">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-7">
          <h3>Full Rulesheet</h3>
          <p>Download the complete rulesheet with gameplay instructions. Two pages total. Print single or double-sided.</p>
          <a class="btn btn-primary" href="../static/downloads/rulesheet.pdf">Download Complete Rules</a>
          <a class="btn btn-primary" href="rules.html">Read the Rules Online</a>
        </div>
      </div>
    <!-- /.row -->
{% endblock content %}
