{% extends "base.html" %}

{% block content %}
      <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Sample Setup</h1>

        <!-- Content One -->
          <div class="row">
             <div class="col-md-7">
                <img class="img-fluid rounded mb-3 mb-md-0" width=100% src="../static/img/setup.svg" alt="">
            </div>
            <div class="col-md-5">
              <h3>General Setup Information</h3>
              <p>The setup for this game is very simple. Each player will always have one card in their hand that no other player can see. The deck of remaining cards sits at the center of all players. Next to the deck will be the stash of tokens (which come with the premium version of the game) or your own supplied tokens or coins. There is also a small rubber gun which comes with the premium version of the game. If you downloaded the print and play version of the game, then you may also use a small rubber gun, an object that is gun-shaped, or an actual gun. Once the gun is pulled from the table, it must be used, whether rubber or otherwise.</p>
              <p>Kevin Dublin, the designer, is not responsible for any loss of life that occurs as a result of this game. When he played the print and play version of this game while playtesting, he used a banana as the "gun." Use a firearm with live ammunition at your own risk. The designer is also not responsible for any violent murders that occur due to the frustration of a friend's choice in this game. <strong>WARNING:</strong> This game may end friendships. There, you've been warned.</p>
              <a class="btn btn-primary" href="rules">Return to Rulesheet</a>
              <br /><br />
              <br />
            </div>
          </div>
        <!-- /.row -->
      </div>
    <!-- /.container -->
    {% endblock content %}
